.App {
    display: flex;
    margin: 10px;
}

.pixi-common {
    position: fixed;
    z-index: 3;
    /* outline: 1px solid red; */
    height: 512px;
    width: 512px;
}

.pixi-step-1 {
    top: 10px;
    left: 10px;
}

.three-displace-step {
    position: fixed;
    top: 10px;
    left: 10px;
}


.pixi-step-2 {
    top: 10px;
    right: 10px;
}

canvas {
    margin-bottom: 0px;
    padding-bottom: 0px;
}