.App {
    display: flex;    
    margin: 10px;
}

.pixi-step-1 {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
    outline: 1px solid red;
}

.three-displace-step {
    position: fixed;
    top: 0px;
    left: 0px;
}